{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}
{% block body %}
    <br>
    <h1>Welcome at my blog</h1>
    <br>
<div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h1>Navbar examples</h1>
        <p>Welcome to my personal blog, here I talk about programming, artificial intelligence, machine learning and pretty much related to computer science.</p>
        <p>So if you are looking for some source to learn programming, you can count on me.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">View posts</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}